body{
            width: 1000px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQANvs6L+C09bxogujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQByoia5cvzouwAAAABJRU5ErkJggg==);
        }
        .btn-container{
            width:960px;
            text-align:center;
            position: absolute;
            border:2px solid #ed6a5a;
            top: 50%;
            left: 50%;
            margin-top: -230px; 
            margin-left: -480px;
        }
        .btn-container > .btn1{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./1.jpeg');
        }
        .btn-container > .btn2{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./2.jpeg');
        }
        .btn-container > .btn3{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./3.jpeg');
        }
        .btn-container > .btn4{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./4.jpeg');
        }
        .btn-container > .btn5{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./5.jpeg');
        }
        .btn-container > .btn6{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./6.jpeg');
        }
        .btn-container > .btn7{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./7.jpeg');
        }
        .btn-container > .btn8{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./8.jpeg');
        }
        .btn-container > .btn9{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-color:#ccc;
        }
