body{
            width: 1000px;
            height: 7000px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQANvs6L+C09bxogujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQByoia5cvzouwAAAABJRU5ErkJggg==);
        }
        .btn-container{
            width:960px;
            text-align:center;
            position: absolute;
            border:2px solid #ed6a5a;
            top: 50%;
            left: 50%;
            margin-top: -230px; 
            margin-left: -480px;
        }
        .btn-container > .btn1{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background:url('./1.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn2{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background:url('./2.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn3{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background:url('./3.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn4{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./4.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn5{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./5.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn6{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./6.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn7{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./7.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn8{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('./8.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        .btn-container > .btn9{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-color:#ccc;
        }
