body {
    height: 1250px;
    background: #202020;
    font-family: 'Raleway', sans-serif;
}

#l1 {
    position: absolute;
    top: 250px;
    left: 20px;
    color: #fff;
}

#s1 {
    position: absolute;
    top: 280px;
    left: 20px;
    border: 1px solid #ccc;
    height: 20px;
    width: 200px;
}

#slideHandle1 {
    position: absolute;
    left: 20px;
    background-color: #cccc00;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

#pos1 {
    position: absolute;
    top: 280px;
    left: 250px;
    border: 1px solid #ccc;
    height: 20px;
    width: 35px;
    inline-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#l2 {
    position: absolute;
    top: 320px;
    left: 20px;
    color: #fff;
}

#s2 {
    position: absolute;
    top: 350px;
    left: 20px;
    border: 1px solid #ccc;
    height: 20px;
    width: 200px;
}

#slideHandle2 {
    position: absolute;
    left: 20px;
    background-color: #cccc00;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

#pos2 {
    position: absolute;
    top: 350px;
    left: 250px;
    border: 1px solid #ccc;
    height: 20px;
    width: 35px;
    inline-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#l {
    position: absolute;
    top: 150px;
    left: 20px;
    color: #fff;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
#imageLoader {
    position: absolute;
    top: 200px;
    left: 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
#l3 {
    position: absolute;
    top: 390px;
    left: 20px;
    color: #fff;
}

#r1 {
    position: absolute;
    left: 20px;
    top: 420px;
}
#ll1 {
    position: absolute;
    left: 50px;
    top: 420px;
    color: #fff;
}

#r2 {
    position: absolute;
    left: 20px;
    top: 450px;
}
#ll2 {
    position: absolute;
    left: 50px;
    top: 450px;
    color: #fff;
}

#r3 {
    position: absolute;
    left: 20px;
    top: 480px;
}
#ll3 {
    position: absolute;
    left: 50px;
    top: 480px;
    color: #fff;
}

#r4 {
    position: absolute;
    left: 20px;
    top: 510px;
}
#ll4 {
    position: absolute;
    left: 50px;
    top: 510px;
    color: #fff;
}

#r5 {
    position: absolute;
    left: 20px;
    top: 540px;
}
#ll5 {
    position: absolute;
    left: 50px;
    top: 540px;
    color: #fff;
}

#r6 {
    position: absolute;
    left: 20px;
    top: 570px;
}
#ll6 {
    position: absolute;
    left: 50px;
    top: 570px;
    color: #fff;
}

#personal {
   position: absolute;
   left: 80px;
   top: 480px;
   width: 200px;
   height: 20px;
}

#b {
    position: absolute;
    top: 610px;
    left: 20px;
    font-size: 18px;
}

#myCanvas {
    position: absolute;
    top: 160px;
    left: 300px;
    z-index: 10;
}
#originalCanvas {
    position: absolute;
    top: 160px;
    left: 300px;
    background: #404040;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #808080;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Raleway', sans-serif;
}

.button:hover {background-color: #606060}

.button:active {
  background-color: #404040;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}