body{
            width: 1000px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQANvs6L+C09bxogujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQByoia5cvzouwAAAABJRU5ErkJggg==);
        }
        .btn-container{
            width:960px;
            text-align:center;
            position: absolute;
            border:2px solid #ed6a5a;
            top: 50%;
            left: 50%;
            margin-top: -230px; 
            margin-left: -480px;
        }
        .btn-container > .btn1{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/1.jpg');
        }
        .btn-container > .btn2{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/2.jpg');
        }
        .btn-container > .btn3{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/3.jpg');
        }
        .btn-container > .btn4{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/4.jpg');
        }
        .btn-container > .btn5{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/5.jpg');
        }
        .btn-container > .btn6{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/6.jpg');
        }
        .btn-container > .btn7{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/7.jpg');
        }
        .btn-container > .btn8{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-image:url('http://ynyeh0221.er-webs.com/cat/8.jpg');
        }
        .btn-container > .btn9{
            width:320px;
            height:180px;
            font-size:24px;
            float:left;
            border:none;
            background-color:#ccc;
        }
